.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	display: none;
	background-color: #99999978;
	z-index: 1000 !important;
}

.spinner-border {
	top: 50% !important;
	position: absolute;
}

h2 {
	font-size: 30px;
	text-align: center;
	width: 100%;
	background: #1462dc;
	padding: 13px;
	line-height: 30px;
	color: white;
}

.img-preview {
	max-height: 100px;
	margin-top: 10px;
	margin-left: 10px;
}

.img-preview:hover {
	cursor: pointer;
}

.unchecked {
	opacity: 25%;
}

#preview {
    position: absolute;
    border: 1px solid #ccc;
    background: #333;
    padding: 5px;
    display: none;
    color: #fff
}

.img-container {
	float: left;
}

#div-result {
	margin-bottom: 300px;
}